<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TraderModel" connectionString="metadata=res://*/Model.TraderModel.csdl|res://*/Model.TraderModel.ssdl|res://*/Model.TraderModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\Femaref\AppData\Roaming\EveTrader\EveTrader.db&quot;'" providerName="System.Data.EntityClient" />
    <add name="StaticModel" connectionString="metadata=res://*/Model.StaticModel.csdl|res://*/Model.StaticModel.ssdl|res://*/Model.StaticModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=G:\tyr101-sqlite3-v1.db\tyr101-sqlite3-v1.db&quot;" providerName="System.Data.EntityClient" />
    <add name="MetricModel" connectionString="metadata=res://*/MetricModel.csdl|res://*/MetricModel.ssdl|res://*/MetricModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Users\Femaref\AppData\Roaming\EveTrader\Metrics.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>