<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="TraderModel" connectionString="metadata=res://*/TraderModel.csdl|res://*/TraderModel.ssdl|res://*/TraderModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Users\Femaref\AppData\Roaming\EveTrader\EveTrader.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>