<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MetricModel" connectionString="metadata=res://*/MetricModel.csdl|res://*/MetricModel.ssdl|res://*/MetricModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Users\Femaref\AppData\Roaming\EveTrader\Metrics.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>