<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="staticEntities" connectionString="metadata=res://*/TraderModel.csdl|res://*/TraderModel.ssdl|res://*/TraderModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=Q:\Projects\evetradercs\static.db&quot;" providerName="System.Data.EntityClient" /><add name="testEntities" connectionString="metadata=res://*/Test.TestModel.csdl|res://*/Test.TestModel.ssdl|res://*/Test.TestModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;E:\Visual Studio 2010\Projects\test\test\test.db&quot;'" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>