<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EveTrader.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TraderModel" connectionString="metadata=res://*/Model.TraderModel.csdl|res://*/Model.TraderModel.ssdl|res://*/Model.TraderModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Dokumente und Einstellungen\Femaref\Anwendungsdaten\EveTrader\EveTrader.db&quot;'" providerName="System.Data.EntityClient" />
    <add name="StaticModel" connectionString="metadata=res://*/Model.StaticModel.csdl|res://*/Model.StaticModel.ssdl|res://*/Model.StaticModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=G:\tyr101-sqlite3-v1.db\tyr101-sqlite3-v1.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <EveTrader.Wpf.Properties.Settings>
      <setting name="AutoUpdate" serializeAs="String">
        <value>False</value>
      </setting>
    </EveTrader.Wpf.Properties.Settings>
  </userSettings>
</configuration>